body {
  padding-top: 20px;
  background-color:#000000;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size:  21px;
}
.col-lg-4 h4{
  color: #fff;
  text-align: center;

  

}

/* Customize the nav-justified links to be fill the entire space of the .navbar */


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  
  .row{
    display:block;
  
  }
  .row p {
color:white;
font-size:30px;
margin-top:100px;
    
  }

  }
  
element.style {
}
.btn-success {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}
.btn {

  margin-top:30px;
  margin-bottom:30px; {
}
a {
    color: #000000;
    text-decoration: none;
}
h1 {
    font-size:25px;
    color: white;
}
img {
  margin-top:40px;
  margin-bottom:30px;
    
}
